{% extends 'main/main_base.html' %}

{% block head %}{% endblock head %}

{% block body %}	
<section class="section bt">
	<div class="container">
		<div class="section-title text-center">
			<small>Hangi alanda ustaya ihtiyacınız var ?</small>
		
		</div><!-- end section-title -->

		<div class="owl-carousel owl-theme lightcasestudies withhover">
			<div class="item-carousel">
					<div class="section-title text-center">
							<small>TIP</small>	
					</div>
				<div class="case-box">
						
					<img src="../../static/main/upload/case_01.png" alt="" class="img-responsive">
					<div class="magnifier">
						<a href="tip"><i class="fa fa-link"></i></a> 
					</div>
				</div><!-- end case-box -->
			</div><!-- end col -->

			<div class="item-carousel">
					<div class="section-title text-center">
							<small>TEKNOLOJİ</small>	
					</div>
				<div class="case-box">
						
					<img src="../../static/main/upload/case_07.jpg" alt="" class="img-responsive">
					<div class="magnifier">
						<a href="teknoloji"><i class="fa fa-link"></i></a> 
					</div>
				</div><!-- end case-box -->
			</div><!-- end col -->

			<div class="item-carousel">
					<div class="section-title text-center">
							<small>EĞİTİM</small>	
					</div>
				<div class="case-box">
						
					<img src="../../static/main/upload/case_03.png" alt="" class="img-responsive">
					<div class="magnifier">
						<a href="egitim"><i class="fa fa-link"></i></a> 
					</div>
				</div><!-- end case-box -->
			</div><!-- end col -->
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="row service-list">
			
		

		<div class="section-button clearfix text-center">
			<p class="lead">Allaamus ile aradığınız uzman bir tık ötede ...</p>
			
		</div><!-- end section-button -->
	</div><!-- end container -->
</section><!-- end section -->
{% endblock body %}