<!doctype html>
<html class="no-js " lang="tr"> <!--<![endif]-->
    <head>
        <!-- Basic -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        <!-- Mobile Meta -->
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        
        <!-- Site Meta -->
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title> Allaamus </title>
        {% endif %}
        
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="author" content="">
        
        <!-- Site Icons -->
        <link rel="shortcut icon" href="../../static/main/images/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="../../static/main/images/apple-touch-icon.png">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700" rel="stylesheet"> 

        <!-- Custom & Default Styles -->
        <link rel="stylesheet" href="../../static/main/css/font-awesome.min.css">
        <link rel="stylesheet" href="../../static/main/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../static/main/css/animate.css">
        <link rel="stylesheet" href="../../static/main/css/carousel.css">
        <link rel="stylesheet" href="../../static/main/style.css">
        <link rel="stylesheet" href="../../static/style.css">
        {% block head %}{% endblock head %}
    </head>
    <body>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class=flashes>
                    {% for category, message in messages %}
                        <div class="container">
                            <div class="notice notice-{{ category }}">
                                <strong>{{ category }}</strong> {{ message }}
                            </div>
                        </div>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block body %}{% endblock body %}
        <!-- jQuery Files -->
        <script src="../../static/main/js/jquery.min.js"></script>
        <script src="../../static/main/js/bootstrap.min.js"></script>
        <script src="../../static/main/js/parallax.js"></script>
        <script src="../../static/main/js/animate.js"></script>
        <script src="../../static/main/js/owl.carousel.js"></script>
        <script src="../../static/main/js/custom.js"></script>
    </body>
</html>