{% extends 'main/main_base.html' %}

{% block head %}{% endblock head %}

{% block body %}
<section class="section normalhead">
	<div class="container">
		<div class="row">	
			<div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
				<h2>Testimonials</h2>
				<p class="lead">What others say about SeoTime! Meet our happy clients</p>
			</div><!-- end col -->
		</div><!-- end row -->
	</div><!-- end container -->
</section><!-- end section -->

<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-6 col-xs-12 first">
				<div class="testimonial-wrapper">
					<div class="testimonial-box">
						<small>CEO - Envato Elements</small>
						<h4>Martin Hopkens</h4>
						<p class="lead">Thanks to the seo service I bought from this site, my website is ranked number 1 in Google rankings.</p>
					</div><!-- end testimonial-box -->
					<img src="upload/team_03.jpeg" alt="" class="img-circle">
				</div><!-- end testimonial-wrapper -->
			</div><!-- end col -->

			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="testimonial-wrapper">
					<div class="testimonial-box">
						<small>CEO - WP Servis</small>
						<h4>Adam Colline</h4>
						<p class="lead">When I need high rank on Google, the SeoTime make my website awesome! If you are high-quality backlinks just try SeoTime!.</p>
					</div><!-- end testimonial-box -->
					<img src="upload/team_01.jpeg" alt="" class="img-circle">
				</div><!-- end testimonial-wrapper -->
			</div><!-- end col -->

			<div class="col-md-4 col-sm-6 col-xs-12 last">
				<div class="testimonial-wrapper">
					<div class="testimonial-box">
						<small>CEO - Bananis</small>
						<h4>Steave Johns</h4>
						<p class="lead">Just purchased a professional SEO pack on this website and now my blog 1st rank on Google!</p>
					</div><!-- end testimonial-box -->
					<img src="upload/team_02.jpeg" alt="" class="img-circle">
				</div><!-- end testimonial-wrapper -->
			</div><!-- end col -->

			<div class="col-md-4 col-sm-6 col-xs-12 first">
				<div class="testimonial-wrapper">
					<div class="testimonial-box">
						<small>Freelancer</small>
						<h4>Jack Jakson</h4>
						<p class="lead">If you want to make a high income on your website I offer you a professional package.</p>
					</div><!-- end testimonial-box -->
					<img src="upload/team_04.jpg" alt="" class="img-circle">
				</div><!-- end testimonial-wrapper -->
			</div><!-- end col -->

			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="testimonial-wrapper">
					<div class="testimonial-box">
						<small>Wikipedia</small>
						<h4>Boby Sluter</h4>
						<p class="lead">Thanks to this company, the number of visitors to the site increased rapidly. I was not impressed by the latest Google update.</p>
					</div><!-- end testimonial-box -->
					<img src="upload/team_05.jpg" alt="" class="img-circle">
				</div><!-- end testimonial-wrapper -->
			</div><!-- end col -->

			<div class="col-md-4 col-sm-6 col-xs-12 last">
				<div class="testimonial-wrapper">
					<div class="testimonial-box">
						<small>British Musium</small>
						<h4>Brad Babsksens</h4>
						<p class="lead">SEO business is important, I would recommend anyone to the site of SeoTime, the number one company in the world that makes this job the best.</p>
					</div><!-- end testimonial-box -->
					<img src="upload/team_06.jpg" alt="" class="img-circle">
				</div><!-- end testimonial-wrapper -->
			</div><!-- end col -->

			<div class="col-md-4 col-sm-6 col-xs-12 first">
				<div class="testimonial-wrapper">
					<div class="testimonial-box">
						<small>Social Manager</small>
						<h4>Ali Sultanow</h4>
						<p class="lead">If you want to have a high hit on your site, you should definitely try this site. They provide quality and professional work.</p>
					</div><!-- end testimonial-box -->
					<img src="upload/team_07.jpg" alt="" class="img-circle">
				</div><!-- end testimonial-wrapper -->
			</div><!-- end col -->

			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="testimonial-wrapper">
					<div class="testimonial-box">
						<small>eCommerce Owner</small>
						<h4>Sedef Sandero</h4>
						<p class="lead">The leader of your class in SEO. I think this site is a great friend of mine. Order one for another site.</p>
					</div><!-- end testimonial-box -->
					<img src="upload/team_08.jpg" alt="" class="img-circle">
				</div><!-- end testimonial-wrapper -->
			</div><!-- end col -->

			<div class="col-md-4 col-sm-6 col-xs-12 last">
				<div class="testimonial-wrapper">
					<div class="testimonial-box">
						<small>Blogger</small>
						<h4>Jessica Johnsan</h4>
						<p class="lead">I think it's the best SEO firm in the world. Working with this site made me very happy and enhanced my experience.</p>
					</div><!-- end testimonial-box -->
					<img src="upload/team_09.jpg" alt="" class="img-circle">
				</div><!-- end testimonial-wrapper -->
			</div><!-- end col -->
		</div><!-- end row -->
	</div><!-- end container -->
</section><!-- end section -->

<section class="section ldp">
	<div class="container">
		<div class="row text-center">
			<div class="col-md-2 col-sm-2 col-xs-6">
				<div class="client-box">
					<a href="#"><img src="upload/client_01.png" alt="" class="img-responsive"></a>
				</div>
			</div><!-- end col -->
			<div class="col-md-2 col-sm-2 col-xs-6">
				<div class="client-box">
					<a href="#"><img src="upload/client_02.png" alt="" class="img-responsive"></a>
				</div>
			</div><!-- end col -->
			<div class="col-md-2 col-sm-2 col-xs-6">
				<div class="client-box">
					<a href="#"><img src="upload/client_03.png" alt="" class="img-responsive"></a>
				</div>
			</div><!-- end col -->	
			<div class="col-md-2 col-sm-2 col-xs-6">
				<div class="client-box">
					<a href="#"><img src="upload/client_04.png" alt="" class="img-responsive"></a>
				</div>
			</div><!-- end col -->
			<div class="col-md-2 col-sm-2 col-xs-6">
				<div class="client-box">
					<a href="#"><img src="upload/client_05.png" alt="" class="img-responsive"></a>
				</div>
			</div><!-- end col -->
			<div class="col-md-2 col-sm-2 col-xs-6">
				<div class="client-box">
					<a href="#"><img src="upload/client_06.png" alt="" class="img-responsive"></a>
				</div>
			</div><!-- end col -->	
		</div><!-- end row -->
	</div><!-- end container -->
</section><!-- end section -->
{% endblock body %}