{% extends 'main/main_base.html' %}

{% block head %}{% endblock head %}

{% block body %}
<section class="section normalhead">
	<div class="container">
		<div class="row">	
			<div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
				<h2>Soru & Cevap</h2>
				<p class="lead">Aradığınız cevaplar Allaamusta</p>
			</div><!-- end col -->
		</div><!-- end row -->
	</div><!-- end container -->
</section><!-- end section -->

<section class="section">
	<div class="container">
		<div class="row">
			{% for question in questions %}
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="testimonial-wrapper">
						<div class="testimonial-box">
							<small>{{question.category}}</small>
							<h4>{{question.asker_name}}</h4>
							<a href="{{url_for("question", qid=question.id)}}"> <p class="lead">{{question.content}}</p> </a>
						</div><!-- end testimonial-box -->
						<img src="../../static/user/images/user_{{question.asker_id}}.jpg" alt="" class="img-circle">
					</div><!-- end testimonial-wrapper -->
				</div><!-- end col -->	
			{% endfor %}

		</div><!-- end row -->
	</div><!-- end container -->
</section><!-- end section -->
{% endblock body %}