{% extends 'main/main_base.html' %}

{% block head %}{% endblock head %}

{% block body %}
<section class="section normalhead">
	<div class="container">
		<div class="row">	
			<div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
				<h2>Soru & Cevap</h2>
				<p class="lead">Aradığınız cevaplar Allaamusta</p>
			</div><!-- end col -->
		</div><!-- end row -->
	</div><!-- end container -->
</section><!-- end section -->

<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-6 col-xs-12 first">
				<div class="testimonial-wrapper">
					<a href="#">
						<div class="testimonial-box">
							<small>Teknoloji</small>
							<h4>Modeme HDD Bağlamak</h4> 
							<h5><p class="lead">Merhaba, Asus ac51 modeme sahibim ve bununla usb desteği olan modemlerdeki gibi hdd bağlayarak dosyalarıma heryerden erişim sağlamak istiyorum ancak modemimde usb girişi yok. Lan usb dönüştürücü gibi birşey bulabilirsem çözüm sağlar mıyım? Farklı önerileriniz var mıdır? Teşekkür ederim şimdiden.
							</p></h5>
						</div><!-- end testimonial-box -->
				    </a>
					<img src="upload/team_03.jpeg" alt="" class="img-circle">
				</div><!-- end testimonial-wrapper -->
			</div><!-- end col -->

			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="testimonial-wrapper">
					<a href="#">
						<div class="testimonial-box">
							<small>Teknoloji</small>
							<h4>Sophos UTM maili gondermeyi reddediyor </h4>
							<h5><p class="lead">Merhaba
								Sophos UTM cihazi on-premise exchange server uzerinden gonderilen BCC maillerini kullanicilara iletmiyor.
								O mail icindeki kimseye gitmiyor mail to, cc ya da bcc olduguna bakmaksizin. Eger ki ben bcc'ye bir alici adresi eklediysem. "internal server error" diyip reddediyor ama bcc'den ismi temizler de ayni maili gondermeye calisirsam mail gidiyor.
								Sophos loglarinda her hangi bir kayit da yok bu reddetmeye dair.  
								Boyle bir sorunla karsilasan oldu mu acaba?</p></h5>
						</div><!-- end testimonial-box -->
				    </a>
					<img src="upload/team_01.jpeg" alt="" class="img-circle">
				</div><!-- end testimonial-wrapper -->
			</div><!-- end col -->

			<div class="col-md-4 col-sm-6 col-xs-12 last">
				<div class="testimonial-wrapper">
					<a href="#">
						<div class="testimonial-box">
							<small>Teknoloji</small>
							<h4>PLESK Web Sitelerinin Aktarımı</h4>
							<h5><p class="lead">Selamlar,
									Plesk üzerinde tuttugumuz web sitelerinin farkli ip li server a tasimak istiyoruz. Bu islem icin psa bacuplarini aldik ve yeni server üzerinde actik. Ancak tum domainlerin dns ayarlarini tekrar degistirmemek icin domainlerin yonlendirmesini eski plesk server uzerinden yeni plesk e dogru yapmak isityoruz.
									Bu islem isin Domainlerin DNS Setting bolumlerinden PTR degerlerini yeni server in ip degeriyle degistirdik, fakat bir sonuc alamadik.
									Bu islemi nasil gerceklestiririz.  Tesekkurler</p></h5>
							</div><!-- end testimonial-box -->
					</a>	
					<img src="upload/team_02.jpeg" alt="" class="img-circle">
				</div><!-- end testimonial-wrapper -->
			</div><!-- end col -->

			<div class="col-md-4 col-sm-6 col-xs-12 first">
				<div class="testimonial-wrapper">
						<a href="#">
								<div class="testimonial-box">
									<small>TIP</small>
									<h4>Hocam şikeyetim zayıflık. Nasıl en sağlıklı ve güvenilir bir biçimde kilo alabilirim? </h4>
									<h5><p class="lead">Hocam şikeyetim zayıflık. Nasıl en sağlıklı ve güvenilir bir biçimde kilo alabilirim? 21 yaşındayım, 68 kg, 1,88 boyundayım. Yardım edebilirseniz sevinirim. </p></h5>
									</div><!-- end testimonial-box -->
							</a>
					<img src="upload/team_04.jpg" alt="" class="img-circle">
				</div><!-- end testimonial-wrapper -->
			</div><!-- end col -->

			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="testimonial-wrapper">
						<a href="#">
								<div class="testimonial-box">
									<small>TIP</small>
									<h4> Doktor Bey, sadece kemik ya da burun eti var. Bunların ilaçla tedavisi var mı?</h4>
									<h5><p class="lead">Doktor Bey, sadece kemik ya da burun eti var. Bunların ilaçla tedavisi var mı? Varsa hangi ilaçları önerirsiniz veya ne önerirsiniz? Saygılar. </p></h5>
									</div><!-- end testimonial-box -->
							</a>
					<img src="upload/team_05.jpg" alt="" class="img-circle">
				</div><!-- end testimonial-wrapper -->
			</div><!-- end col -->

			<div class="col-md-4 col-sm-6 col-xs-12 last">
				<div class="testimonial-wrapper">
						<a href="#">
								<div class="testimonial-box">
									<small>TIP</small>
									<h4> Toza karşı alerjim var, burnum tıkanıyor. Hangi ilacı önerirsiniz? </h4>
									<h5><p class="lead">Toza karşı alerjim var, burnum tıkanıyor, boğazımda balgam oluyor. Hangi ilacı önerirsiniz? Teşekkürler. </p></h5>
									</div><!-- end testimonial-box -->
							</a>
					<img src="upload/team_06.jpg" alt="" class="img-circle">
				</div><!-- end testimonial-wrapper -->
			</div><!-- end col -->

			<div class="col-md-4 col-sm-6 col-xs-12 first">
				<div class="testimonial-wrapper">
						<a href="#">
								<div class="testimonial-box">
									<small>Eğitim</small>
									<h4>1. Dünya savaşını rejim değişikliği</h4>
									<h5><p class="lead"> 1. Dünya savaşını rejim değişikliği nedeniyle terkeden devlet hangisidir?</p>  </h5>
									</div><!-- end testimonial-box -->
							</a>
					<img src="upload/team_07.jpg" alt="" class="img-circle">
				</div><!-- end testimonial-wrapper -->
			</div><!-- end col -->

			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="testimonial-wrapper">
						<a href="#">
								<div class="testimonial-box">
									<small>Eğitim</small>
									<h4>İngilterede hava</h4>
									<h5><p class="lead">İngilterede hava neden 4 mevsim kapalı ve gridir ?  </p></h5>
									</div><!-- end testimonial-box -->
							</a>
					<img src="upload/team_08.jpg" alt="" class="img-circle">
				</div><!-- end testimonial-wrapper -->
			</div><!-- end col -->

			<div class="col-md-4 col-sm-6 col-xs-12 last">
				<div class="testimonial-wrapper">
						<a href="#">
								<div class="testimonial-box">
									<small>Eğitim</small>
									<h4>Nişasta sentezi </h4>
									<h5><p class="lead">Nişasta sentezi sırasında, 150 molekül glikoz kullanılırsa, kaç su açığa çıkar? açıklayarak anlatırsanız sevirim </p></h5>
									</div><!-- end testimonial-box -->
							</a>
					<img src="upload/team_09.jpg" alt="" class="img-circle">
				</div><!-- end testimonial-wrapper -->
			</div><!-- end col -->
		</div><!-- end row -->
	</div><!-- end container -->
</section><!-- end section -->

<section class="section ldp">
	<div class="container">
		<div class="row text-center">
			<div class="col-md-2 col-sm-2 col-xs-6">
				<div class="client-box">
					<a href="#"><img src="upload/client_01.png" alt="" class="img-responsive"></a>
				</div>
			</div><!-- end col -->
			<div class="col-md-2 col-sm-2 col-xs-6">
				<div class="client-box">
					<a href="#"><img src="upload/client_02.png" alt="" class="img-responsive"></a>
				</div>
			</div><!-- end col -->
			<div class="col-md-2 col-sm-2 col-xs-6">
				<div class="client-box">
					<a href="#"><img src="upload/client_03.png" alt="" class="img-responsive"></a>
				</div>
			</div><!-- end col -->	
			<div class="col-md-2 col-sm-2 col-xs-6">
				<div class="client-box">
					<a href="#"><img src="upload/client_04.png" alt="" class="img-responsive"></a>
				</div>
			</div><!-- end col -->
			<div class="col-md-2 col-sm-2 col-xs-6">
				<div class="client-box">
					<a href="#"><img src="upload/client_05.png" alt="" class="img-responsive"></a>
				</div>
			</div><!-- end col -->
			<div class="col-md-2 col-sm-2 col-xs-6">
				<div class="client-box">
					<a href="#"><img src="upload/client_06.png" alt="" class="img-responsive"></a>
				</div>
			</div><!-- end col -->	
		</div><!-- end row -->
	</div><!-- end container -->
</section><!-- end section -->
{% endblock body %}