{% extends 'main/main_base.html' %}

{% block head %}{% endblock head %}

{% block body %}
<section class="section normalhead lb">
	<div class="container">
		<div class="row">	
			<div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
				<h2>{{question.asker_name}}</h2>
				<p class="lead">{{question.topic}}</p>
			</div><!-- end col -->
		</div><!-- end row -->
	</div><!-- end container -->
</section><!-- end section -->

<section class="section">
	<div class="container">
		<div class="row">

			<div class="content col-md-12 blog-alt">
				<div class="blog-box clearfix">
				
					<div class="blog-single">
						<div class="blog-meta">
							<ul class="list-inline">
								<li><a href="#"><i class="fa fa-calendar-o"></i>{{question.date}}</a></li>
								<li><a href="#"><i class="fa fa-folder-open-o"></i>{{question.category}}</a></li>
							</ul>
						</div><!-- end meta -->
						<h3 class="post-title">{{question.topic}}</h3>
						<p>{{question.content}}</p>
						</div><!-- end blog-desc -->
				</div><!-- end blogbox -->

				<div class="blog-box clearfix">
					<div class="custom-title">
						<h4>{{answers_count}} Yorum</h4>
						<hr>
					</div><!-- end -->

					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-info">
								<div class="panel-body comments">
									<ul class="media-list">
										{% for answer in answers %}
											<li class="media">
												<div class="comment">
													<a href="#" class="pull-left">
														<img src="../../static/user/images/user_{{answer.answerer_id}}.jpg" alt="" class="img-circle">
													</a>
													<div class="media-body">
														<strong class="text-success">{{answer.answerer_name}}</strong>
														<span class="text-muted">
														<p>{{answer.content}}</p>
													</div>
													<div class="clearfix"></div>
												</div>
											</li>
										{% endfor %}
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div><!-- end postpager -->

				<div class="blog-box clearfix">
					<div class="custom-title">
						<h4>Yorum Yap</h4>
					</div><!-- end about -->

					<div class="contact_form comment-form">
						
						<form method="POST" class="row">
							<div class="col-md-12 col-sm-12">
								<label>Yorum <span class="required">*</span></label>
								{{ form.answer(class_="form-control", placeholder="") }}
							</div>
							<div class="col-md-12 col-sm-12">
								{% if current_user.is_anonymous %}
									<a href="{{ url_for('login') }}"><input type="submit" value="Giriş Yap" class="btn btn-primary" /></a>
								{% else %}
									{{ form.submit(class_='btn btn-primary') }}
								{% endif %}
							</div>
						</form>
					</div><!-- end commentform -->
				</div><!-- end postpager -->
			</div><!-- end content -->
		</div><!-- end row -->
	</div><!-- end container -->
</section><!-- end section -->
{% endblock body %}