<!doctype html>
<!--[if IE 9]> <html class="no-js ie9 fixed-layout" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js " lang="en"> <!--<![endif]-->
<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <!-- Site Meta -->
    <title>Allaamus</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

	<!-- Google Fonts -->
 	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700" rel="stylesheet"> 

		<!-- Custom & Default Styles -->
		<link rel="stylesheet" href="../../static/main/css/font-awesome.min.css">
		<link rel="stylesheet" href="../../static/main/css/bootstrap.min.css">
		<link rel="stylesheet" href="../../static/main/css/animate.css">
		<link rel="stylesheet" href="../../static/main/css/carousel.css">
		<link rel="stylesheet" href="../../static/main/style.css">
	
	<!--[if lt IE 9]>
		<script src="js/vendor/html5shiv.min.js"></script>
		<script src="js/vendor/respond.min.js"></script>
	<![endif]-->

</head>
<body>
	
	<div id="wrapper">
		<div class="topbar">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 hidden-xs">
                        <nav class="topbar-menu">
                            <ul class="list-inline">
                            	<li>Bizi Takip et: </li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                
                            </ul><!-- end list -->
                        </nav><!-- end menu -->
                    </div><!-- end col -->

                    <div class="col-md-6 col-sm-6">
                        <nav class="topbar-menu">
                            <ul class="list-inline text-right navbar-right">
								<li><a href="{{ url_for('login') }}">Giriş</a></li>
								<li><a href="{{ url_for('register') }}">Kayıt Ol</a></li>                               
                            </ul><!-- end list -->
                        </nav><!-- end menu -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end topbar -->
		
		<header class="header site-header">
			<div class="container">
				<nav class="navbar navbar-default yamm">
				    <div class="container-fluid">
				        <div class="navbar-header">
				            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				                <span class="sr-only">Toggle navigation</span>
				                <span class="icon-bar"></span>
				                <span class="icon-bar"></span>
				                <span class="icon-bar"></span>
				            </button>
							<a class="navbar-brand" href="index"><img src="../../static/main/images/logo.png" alt="Linda"></a>
				        </div>
				        <div id="navbar" class="navbar-collapse collapse">
				            <ul class="nav navbar-nav navbar-right">
								<li class="active"><a href="{{ url_for('index') }}">Anasayfa</a></li>
								<li><a href="experts">Ustalar</a></li>
				                <li><a href="about">Allaamus Nedir?</a></li>
				                <!--/<li><a href="../../static/main/case-studies.html">Case Studies</a></li> -->
				                <li><a href="blog">Soru & Cevap</a></li>
				               
                                <li class="lastlink hidden-xs hidden-sm">
									<a class="btn btn-primary" href="experts">
										<i class="glyphicon glyphicon-calendar"></i>Randevu Al
									</a>
								</li>
                            </ul>
				        </div><!--/.nav-collapse -->
				    </div><!--/.container-fluid -->
				</nav><!-- end nav -->
			</div><!-- end container -->
		</header><!-- end header -->

		<section class="section transheader parallax" data-stellar-background-ratio="0.5" style="background-image:url('static/main/upload/bg_01.jpeg');">
			<div class="container">
				<div class="row">	
					<div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
						<h2>Soru & Cevap</h2>
						<p class="lead">Aradığınız Cevaplar Bu Sayfada</p>
					</div><!-- end col -->
				</div><!-- end row -->
			</div><!-- end container -->
		</section><!-- end section -->

		<section class="section">
			<div class="container">
				<div class="row">
					<div class="content col-md-8">
						<div class="blog-box clearfix row">
							<div class="media-box col-md-4">
								<a href="blog-single.html" title=""><img src="upload/blog_01.jpg" alt="" class="img-responsive img-thumbnail"></a>
							</div><!-- end media-box -->
							<div class="blog-desc col-md-8">
								<div class="blog-meta">
									<ul class="list-inline">
										<li><a href="#"><i class="fa fa-folder-open-o"></i> TIP</a></li>
										<li><a href="#"><i class="fa fa-comments-o"></i> 1 Cevap</a></li>
									</ul>
								</div><!-- end meta -->
								<h3><a href="blog-single.html" title="">AMELİYAT SONRASI UYANAMAMA</a></h3>
								<p>Merhaba, annem şeker hastasıydı ve kalbinde 3 damar tıkalı çıktı, doktorlar by-pass olması gerektiğini söyledi. 5 gün önce ameliyat oldu, yoğun bakıma çıktıktan sora ani tansiyon düşmesi ve çıkması olmuş ve tekrar müdahale edilmiş, şu an sadece gözlerini açtığını söylüyorlar ama bilinci tam yerinde değil, solunum cihazına bağlı tutuyorlar, tomogrofi çekildi ama aksi bir durum söz konusu değil dediler, neden bilinci yerine gelmiyor olabilir? Cevaplarsanız sevinirim.</p>
								
							</div><!-- end blog-desc -->
						</div><!-- end blogbox -->

						<div class="blog-box clearfix row">
							<div class="media-box col-md-4">
								<a href="blog-single.html" title=""><img src="upload/blog_02.jpg" alt="" class="img-responsive img-thumbnail"></a>
							</div><!-- end media-box -->
							<div class="blog-desc col-md-8">
								<div class="blog-meta">
									<ul class="list-inline">
										
										<li><a href="#"><i class="fa fa-comments-o"></i>Dr. Mehmet Kadir Baran</a></li>
									</ul>
								</div><!-- end meta -->
								
								<h5>By pass ameliyatının akabinde hastalar vücut dirençerine göre yoğum bakımda tutulur.Bu süre normal şartlarda 1 veya 2 gün sürebilir.Annenizin uyanamamasına bir çok sebeb bulunabilir.Bunlardan bazıları yanlış ameliyat,ameliyat esnasında veya sonrasına enfeksiyon kapması olabilir.Gözlerini açması,ellerini hareket ettirebilmesi sonuçları stabil yapar.2 hafta yoğun bakımda kalabilme ihtimali var.Ayrıca annenizin yaşı ve daha önce ameliyat geçirip geçirmediği hangi ilaçları kullandığı hakkında bilgi yazmamışsınız şimdilik bu kadar yardımcı olabiliyorum size.Geçmiş olsun</h5>
							
							</div><!-- end blog-desc -->
						</div><!-- end blogbox -->

						

																		
						
					</div><!-- end content -->

                    

                    	

                    	
                    </div><!-- end col -->
				</div><!-- end row -->
			</div><!-- end container -->
		</section><!-- end section -->

		

		
		<footer class="footer primary-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                    	<div class="widget clearfix">
                    		<h4 class="widget-title">Abone Ol</h4>
                    		<div class="newsletter-widget">
                    			<p>Haber bültenlerimizden istediğiniz zaman vazgeçebilirsiniz. Gizlilik politikamıza bakın.</p>
		                        <form class="form-inline" role="search">
		                            <div class="form-1">
		                              	<input type="text" class="form-control" placeholder="Mail Adresinizi giriniz ..">
										<button type="submit" class="btn btn-primary"><i class="fa fa-envelope-o"></i></button>
		                            </div>
								</form>
                    		</div><!-- end newsletter -->
                    	</div><!-- end widget -->
                    </div><!-- end col -->
                    <div class="col-md-2 col-sm-2">
                    	<div class="widget clearfix">
                    		<h4 class="widget-title">Allaamus</h4>
                    		<ul>
                    			<li><a href="#">Hakkımızda</a></li>
                    			<li><a href="#">Kariyer</a></li>
                    			<li><a href="#">Trademark</a></li>
                    			<li><a href="#">İletişim</a></li>
                    		</ul>
                    	</div><!-- end widget -->
                    </div><!-- end col -->

                    <div class="col-md-2 col-sm-2">
                    	<div class="widget clearfix">
                    		<h4 class="widget-title">Kategoriler</h4>
                    		<ul>
                    			<li><a href="#"> Psikoloji</a></li>
                    			<li><a href="#">Teknoloji</a></li>
                    			<li><a href="#">Eğitim</a></li>
                    			
                    		</ul>
                    	</div><!-- end widget -->
                    </div><!-- end col -->

                    <div class="col-md-2 col-sm-2">
                    	<div class="widget clearfix">
                    		<h4 class="widget-title">İNDİR</h4>
                    		<ul>
                    			<li><a href="#">MAC/OSX</a></li>
                    			<li><a href="#">Android</a></li>
                    			
                    		</ul>
                    	</div><!-- end widget -->
                    </div><!-- end col -->

                    <div class="col-md-2 col-sm-2">
                    	<div class="widget clearfix">
                    		<h4 class="widget-title">Bizi Takip Et</h4>
                    		<ul>
                    			<li><a href="#">Facebook</a></li>
                    			<li><a href="#">Twitter</a></li>
                    			<li><a href="#">Linkedin</a></li>
                    		</ul>
                    	</div><!-- end widget -->
                    </div><!-- end col -->
                </div><!-- end row -->
           	</div><!-- end container -->
		</footer><!-- end primary-footer -->

		<footer class="footer secondary-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <p>2019 - 2019 &copy;<a href="#">DijiBT</a>  IT Consulting Services INC. All rights reserved.</p>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <ul class="list-inline">
                            <li>Designed: <a href="#">DijiBT</a></li>
                        </ul>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
		</footer><!-- end second footer -->
	</div><!-- end wrapper -->

	<!-- jQuery Files -->
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/parallax.js"></script>
	<script src="js/animate.js"></script>
	<script src="js/custom.js"></script>

</body>
</html>