{% extends 'auth/auth_base.html' %}

{% block body %}
<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100">
			<!-- Image -->
			<div class="login100-pic js-tilt" data-tilt>
				<img src="../static/login/images/img-01.png" alt="IMG">
			</div>

			<!-- Register Form -->
			<form class="login100-form validate-form" method="POST" novalidate>
				<!-- For avoiding CSRF attacks. -->
				{{ form.hidden_tag() }}
				
				<!-- Title -->
				<span class="login100-form-title">
					Allaamus Kayıt
				</span>

				<!-- First Name Input Field -->
				<div class="wrap-input100 validate-input">
					{{ form.first_name(class_='input100', type='text', placeholder='Ad') }}
					
					{% for error in form.first_name.errors %}
						<span class="alert-validate" data-validate="{{ error }}"></span>
					{% endfor %}
	
					<!--<input class="input100" type="text" name="first_name" placeholder="Ad">-->
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-user" aria-hidden="true"></i>
					</span>
				</div>
				
				<div class="wrap-input100 validate-input">
					{{ form.last_name(class_='input100', type='text', placeholder='Soyad') }}
					
					{% for error in form.last_name.errors %}
						<span class="alert-validate" data-validate="{{ error }}"></span>
					{% endfor %}

					<!--<input class="input100" type="text" name="last_name" placeholder="Soyad">-->
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-user" aria-hidden="true"></i>
					</span>
				</div>

				<div class="wrap-input100 validate-input">
					{{ form.email(class_='input100', type='text', placeholder='Eposta') }}
					
					{% for error in form.email.errors %}
						<span class="alert-validate" data-validate="{{ error }}"></span>
					{% endfor %}

					<!--<input class="input100" type="text" name="email" placeholder="E-posta">-->
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-envelope" aria-hidden="true"></i>
					</span>
				</div>

				<div class="wrap-input100 validate-input">
					{{ form.password(class_='input100', type='password', placeholder='Parola') }}
					
					{% for error in form.password.errors %}
						<span class="alert-validate" data-validate="{{ error }}"></span>
					{% endfor %}

					<!--<input class="input100" type="password" name="password" placeholder="Parola">-->
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-lock" aria-hidden="true"></i>
					</span>
				</div>

				<div class="wrap-input100 validate-input">
					{{ form.confirm_password(class_='input100', type='password', placeholder='Parola Onay') }}
					
					{% for error in form.confirm_password.errors %}
						<span class="alert-validate" data-validate="{{ error }}"></span>
					{% endfor %}

					<!--<input class="input100" type="password" name="confirm_password" placeholder="Doğrulama Parolası">-->
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-lock" aria-hidden="true"></i>
					</span>
				</div>

				<div class="wrap-input100 validate-input">
					{{ form.user_type(class_='input100', type='text', placeholder='Meraklı yada Usta') }}

					{% for error in form.user_type.errors %}
						<span class="alert-validate" data-validate="{{ error }}"></span>
					{% endfor %}

					<!--<input class="input100" type="text" name="user_type" placeholder="Meraklı yada Usta">-->
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-user" aria-hidden="true"></i>
					</span>
				</div>

				<div class="container-login100-form-btn">
					{{ form.submit(class_='login100-form-btn') }}
					<!--<button class="login100-form-btn"> Kayıt </button>-->
				</div>

				<div class="text-center p-t-12">
					<a class="txt2" href="{{ url_for('login') }}">
						Giriş sayfasına git
					</a>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock body %}