{% extends 'auth/auth_base.html' %}

{% block title %} Kayıt {% endblock title %}

{% block body %}
<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100">
			<div class="login100-pic js-tilt" data-tilt>
				<img src="../static/login/images/img-01.png" alt="IMG">
			</div>

			<form class="login100-form validate-form" method="POST" action="/" novalidate>
				<span class="login100-form-title">
					Allaamus Kayıt
				</span>

				<div class="wrap-input100 validate-input">
					<input class="input100" type="text" name="first_name" placeholder="Ad">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-user" aria-hidden="true"></i>
					</span>
				</div>

				<div class="wrap-input100 validate-input">
					<input class="input100" type="text" name="last_name" placeholder="Soyad">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-user" aria-hidden="true"></i>
					</span>
				</div>

				<div class="wrap-input100 validate-input">
					<input class="input100" type="text" name="email" placeholder="E-posta">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-envelope" aria-hidden="true"></i>
					</span>
				</div>

				<div class="wrap-input100 validate-input">
					<input class="input100" type="password" name="password" placeholder="Parola">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-lock" aria-hidden="true"></i>
					</span>
				</div>

				<div class="wrap-input100 validate-input">
					<input class="input100" type="password" name="confirm_password" placeholder="Doğrulama Parolası">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-lock" aria-hidden="true"></i>
					</span>
				</div>

				<div class="wrap-input100 validate-input">
					<input class="input100" type="text" name="user_type" placeholder="Meraklı yada Usta">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-user" aria-hidden="true"></i>
					</span>
				</div>

				<div class="container-login100-form-btn">
					<button class="login100-form-btn">
						Kayıt
					</button>
				</div>

				<div class="text-center p-t-12">
					<a class="txt2" href="{{ url_for('login') }}">
						Giriş sayfasına git
					</a>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock body %}